.Right {
  display: flex;
  flex-direction: column;
}

.Right > .TabBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 3rem;
  padding: 0 1rem;
  border-bottom: 1px solid #dcdddd;

  > div {
    display: flex;
    align-items: center;
    height: 100%;
  }

  > .Tabs {
    > button {
      height: 100%;
      border: 0;
      background: none;
      color: #06c;
      cursor: pointer;

      &.active {
        color: #4a4a4a;
        border-top: 1px solid #dcdddd;
        border-right: 1px solid #dcdddd;
        border-left: 1px solid #dcdddd;
        cursor: initial;
      }
    }
  }

  > .Levels {
  }
}

.Right > .Sentences {
  display: flex;
  flex: 1;
  flex-direction: column;
  padding: 1rem;

  > .Sentence {
    display: flex;
    margin: 0;
    padding: 0.5rem;
    border: 1px solid #dcdddd;
    background-color: rgb(230, 225, 241);

    &:not(:first-of-type) {
      margin-top: 1rem;
    }

    &.active {
      background-color: #89a3d4;
    }
  }
}
